<hr>
<footer>
	  <nav>
      
  <ul>
    <li>
      © {{ dateFormat "2006" now }} Karthik Selvam 
    </li>
  <li>
    <a href="https://twitter.com/karthiikselvam">
      <i class="fa-brands fa-twitter"></i>
    </a>
    &nbsp;&nbsp; 
    <!-- <a href="test">
      <i class="fa-brands fa-youtube"></i>
    </a>    -->
    <a href="https://www.instagram.com/karthiikselvam/">
      <i class="fa-brands fa-instagram"></i>
    </a>   
    &nbsp;&nbsp; 
    <a href="https://www.linkedin.com/in/karthiiks/">
      <i class="fa-brands fa-linkedin"></i>
    </a>   
  </li>
  </ul>
    </nav>
</footer>
